.listContainer {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 6px;
    padding: 0;
}
.card {
    background: rgb(39, 39, 39);
    border-radius: 12px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
    display: flex;
    flex-direction: column;
    transition-duration: .5s;
  }
  
  .profileImage {
    background: linear-gradient(to right,rgb(54, 54, 54),rgb(32, 32, 32));
    margin: 10px 10px 0;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
    position: relative;
    overflow: hidden;
  }

  .profileImage img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .textContainer {
    text-align: left;
    padding: 20px;
  }
  
  .name {
    font-size: 0.9em;
    font-weight: 600;
    color: white;
    letter-spacing: 0.5px;
  }
  
  .profile {
    font-size: 0.84em;
    color: rgb(194, 194, 194);
    letter-spacing: 0.2px;
  }
  
  .card:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: .5s;
  }