.container {
  position: relative;
  --size-button: 40px;
  color: white;
  margin: 5px 0;
  display: flex;
  gap: 11px;
  align-items: center;
  width: 100%;
}

.input {
  padding-left: 16px;
  padding-right: 80px;
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #1f2126;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%);
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 220px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%);
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container .icon {
  width: 24px;
  height: 100%;
  cursor: pointer;
}

.container .icon svg, .clear svg {
  width: 100%;
  height: 100%;
}

.clear {
  position: absolute;
  width: 24px;
  height: 100%;
  right: 185px;
  top: 0;
  padding: 0px 0px 0px 12px;
  cursor: pointer;
}

.filterButton {
  cursor: pointer;
  position: absolute;
  right: 220px;
  top: 8px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid rgb(31, 33, 38);
  margin: 0 0 0 155px;
}

.filters {
  position: absolute;
  border: 1px solid rgb(31, 33, 38);
  background-color: rgb(31, 33, 38);
  border-radius: 6px;
  padding: 7px;
}

.applyFilters {
  position: absolute;
  right: 7px;
  top: 7px;
}


.selectdiv {
  position: relative;
  min-width: 130px;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: url(../../public/img/arrows-sort.svg);
  left: -1px;
  top: -5px;
  filter: invert(100%);
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  padding: 0px 0px 0px 24px;
  font-size: 16px;
  color: white;
  background-color: #131417;
  background-image: none;
  border: none;
  -ms-word-break: normal;
  word-break: normal;
  margin-top: -3px;
}

.selectdiv select option {
  background-color: #131417;
}