.details {
    display: flex;
    flex-direction: column;
}

.cover-image {
    height: 30%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}
.cover-image img{
    border-radius: 4px;
}

.cover-image h1 {
    position: absolute;
    bottom: 0px;
    z-index: 3;
    color: black;
    padding: 10px;
    background: aliceblue;
}